.item {
    display: flex;
    height: 18rem;
    flex-direction: column;
    margin: 1rem;
    padding: 0 0 33px 0;
    background-color: white;
}

.item .item__img {
    width: 12rem;
    object-fit: contain;
}

.itemList {
    display: flex;
    flex-wrap: wrap;
}

.icon {
    margin: 5px;
}

.main__info {
    display: flex;
    justify-content: center;
    
}

.item__info .item__title {
    font-size: 16px;
}

.item__info .item__title .item__price {
    margin: 0;
    font-size: 13px;
    color: blue;
}

.item__info .btn {
    padding-left: 35px;
    /* margin-bottom: 5px; */
}

.item__desc {
    text-align: center;
    font-size: 14px;
}